.csstransforms {
  overflow: hidden;
}

.csstransforms .slide h1,
.csstransforms .slide .vcenter {
  padding: 0 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 25;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.deck-container article,
.deck-container aside,
.deck-container details,
.deck-container figcaption,
.deck-container figure,
.deck-container footer,
.deck-container header,
.deck-container hgroup,
.deck-container menu,
.deck-container nav,
.deck-container section {
  display: block;
}

.deck-container div,
.deck-container span,
.deck-container p,
.deck-container blockquote,
.deck-container pre,
.deck-container code,
.deck-container q,
.deck-container small,
.deck-container strong,
.deck-container sub,
.deck-container sup,
.deck-container b,
.deck-container article,
.deck-container canvas,
.deck-container figure,
.deck-container footer,
.deck-container header,
.deck-container menu,
.deck-container nav,
.deck-container summary,
.deck-container section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

.slide h1,
.slide .vcenter {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  max-height: 100%;
}

.slide h1 {
  font-size: 4.5em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.slide h2 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: 0.5em;
  margin: 0 0 0.66666em 0;
  border-bottom: 3px solid #888;
}

.slide h3 {
  font-size: 1.4375em;
  font-weight: bold;
  margin-bottom: 0.30435em;
}

.title {
  text-align: center;
}
.title div {
  top: 40%;
  position: absolute;
  width: 100%;
}
.title h1,
.title h2,
.title h3,
.title h4 {
  position: relative;
  border: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

#intro.title h1,
#intro.title h2,
#intro.title h3,
#intro.title h4 {
  position: relative;
}
#intro.title div {
  top: 30%;
}

.title.with-sub-title h1,
.title.with-sub-title h2,
.title.with-sub-title h3,
.title.with-sub-title h4 {
  position: relative;
}
.title.with-sub-title h1 {
  line-height: 0.9em;
}
.title.with-sub-title div {
  top: 40%;
}

.content h2 {
  margin-bottom: 1.5em;
  border-bottom: 3px solid #14fc03;
}
.content p,
.content li {
  margin-left: 2em;
  font-size: 1.25em;
}
.content li p,
.content li li {
  font-size: 1em;
}

.screenshot img {
  margin-top: 30px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
}

body {
  font-family: "Pangolin", "VT323", "Cormorant Upright", "Square Peg", "Itim",
    monospace;
  color: #14fc03;
  text-shadow: 0px 0px 16px rgba(20, 252, 3, 0.75);
  background-color: rgba(0, 0, 0, 0.96);
}

body article.deck-container {
  width: 80%;
  color: #14fc03;
  margin: 20px auto;
  padding: 0;
  font-size: 20px;
  line-height: 1.25;
}

body article.deck-container .deck-link-next a,
body article.deck-container .deck-link-prev a {
  color: #14fc03;
}
body article.deck-container pre,
body article.deck-container code {
  background-color: #222222;
}
body article.deck-container pre {
  margin: 0px auto;
  border: none;
  width: 80%;
  font-size: 1.25em;
  margin-bottom: 2em;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
body article.deck-container code {
  border: 1px solid #333333;
  color: #4183c4;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 0px 5px;
}
body article.deck-container pre code {
  border: none;
}
